HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
alotta_client/pubspec.lock

### Flutter build folders ###
alotta_client/ios/
alotta_client/macos/
alotta_client/linux/
alotta_client/windows/
alotta_client/android/
alotta_client/web/
alotta_client/pubspec.lock
*.icloud
alotta_client/README 2.md
alotta_client/pubspec.lock
README 2.md
*.lock
